<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'/>
    <link href='css/style.css' rel='stylesheet' type='text/css'/>
</head>
<body >
<div id="container">
    <div id="box">
        <div id="cooking">
            <div id="top">
                <div id="bubbles">
                    <div id="bubble" class="first"></div>
                    <div id="bubblerounded"></div>
                    <div id="bubble"></div>
                    <div id="bubblerounded"></div>
                </div>
                <div id="topofpot">
                </div>
            </div>
            <div id="pot">

            </div>
        </div>
        <div id="flames">
            <div id="flame"></div>
            <div id="flameBig"></div>
            <div id="flame"></div>
        </div>
        <div id="cook"/>
    </div>
    <h1>--- FoodSharing ---</h1>
</div>
</body>
</html>